/* 
h1{
    color: red;
}

p{
    color: saddlebrown;
} 
*/
.paragraph1{
    border: 2px solid; color: seagreen;
}
#paragraph1{
    padding: 10px;
}
p.paragraph3{
    background-color: springgreen;
    color:rgb(238, 20, 20);
    padding: 10px;
    text-align: center;
}
.center{
    text-align: center;
}
.color{
    color: rgb(245, 12, 12);
}